.jumbotron{
    background-color: #000000;
    margin: auto;
}

.bismuth{
    width:50px;
    height:50px;
    border-radius: 20px;
    margin: auto;
}

.header{
    color:#cc3354;
    margin: auto;
    padding: 5px;
    border: 1px;
    border-color: #cc3354;
}


.brokengem{
    width:50px;
    height:50px;
    border-radius: 20px;
    margin: auto;
}

.image1{
    width:150px;
    height:150px;
    border-radius: 20px;
    margin: auto;
}

.image2{
    width:150px;
    height:150px;
    border-radius: 20px;
    margin: auto;
}

.image3{
    width:150px;
    height:150px;
    border-radius: 20px;
    margin: auto;
}

.mining{
    color:#3333cc;
    margin: auto;
    padding: 5px;
}

#goal-number{
    padding:10px;
    color:#3333cc; 
    margin: auto;
}

body {
    background-color:#000000;
    margin: auto;
}

#score-number{
    color:#3333cc;
}

#wins{
    color:#3333cc;
}

#losses{
    color:#3333cc;
}