.jumbotron{
    background-color: #000000;
}

.bismuth{
    width:300px;
    height:300px;
}

.header{
    color:#3333cc;

}

#goal-number{
    padding:10px;
    color:#3333cc; 
}

body {
    background-color:#000000;
}