.background{
    background-color:#000000;
    margin: auto;
    color: #8b0926;
    background-image: url("../images/border.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
}

.header{    
    color:#cc3354;
    margin: auto;
    padding: 5px;
    border: 1px;
    border-color: #cc3354;
    font-size: 9rem;
}

.instruction{
    color:#cc3354;
    font-size: 2rem; 
}

.gems{
    width:150px;
    height:150px;
    border-radius: 20px;
    margin: auto;
}

.container{
    padding-top: 5rem;
} 

.filler{
    font-weight: bold;
    font-size: 1rem;
}

.wins{
    font-weight: bold;
    font-size: 1rem;
}

.losses{
    font-weight: bold;
    font-size: 1rem;
}

.totalScore{
    font-weight: bold;
    font-size: 1rem;
}

.scoreDisplay{
    font-weight: bold;
    font-size: 1rem;
}

.randomNumber{
    font-weight: bold;
    font-size: 1rem;
}